.a {
  min-height: 100vh;
  position: relative;
  background-image: url("../../assets/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
.a-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
