.h-bg {
  background: url("../../assets/img-home/home-sfondo.png");
  background-size: cover;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
.h-top {
  margin-top: 200px;
  padding: 20px;
  color: white;
}
.h-top img {
  max-width: 300px;
}
.h-top p {
  padding: 20px 25%;
}
.h-top-button {
  margin-top: 50px;
}
.h-top-button a {
  justify-content: center;
  text-decoration: none; /* Remove the default underline */
  color: black; /* Set the text color to green */
  padding: 15px 70px;
  border-radius: 30px;
  background-color: #4fde4f; /* Set the initial background to transparent */
  transition: background-color 0.3s, color 0.3s;
}
.h-top-button a:hover {
  background-color: #104924; /* Set the background color to light green on hover */
  color: white;
  border: 1px solid white;
}
/* Carosello */
.h-carosello img {
  margin-top: 30px;
  gap: 10px;
  max-height: 200px;
}
.h-carosello-image {
  margin: 0 1%;
}
/* Primo blocco su qualità */
.h-quality {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
  margin: 30px;
  gap: 10px;
}
.h-quality-left {
  flex: 1;
}
.h-quality-right {
  flex: 4;
}
.h-title {
  color: var(--light-green);
}

/* Secondo blocco su prodotti più venduti */
.h-bestSellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-green);
  color: white;
  padding-top: 20px;
  align-items: center;
}
.h-bestSellers-header {
  margin-top: 50px;
}
.h-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates two columns */
  grid-gap: 20px; /* Space between cards */
  margin: 50px 180px;
  color: black;
}

/* Prossimo blocco */
.h-priceShipTags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px;
  padding: 0 10em;
}
.h-priceShipTags:nth-child(2n) {
  flex-direction: row-reverse;
}
.h-priceShipTags-title {
  color: var(--light-green);
  text-align: left;
}
.h-priceShipTags-left {
  flex: 1;
}
.h-priceShipTags-right {
  flex: 1;
}
.h-priceShipTags-image {
  margin: 50px;
  width: 50%;
}

/* Responsive design: Stacks blocks on smaller screens */
@media (max-width: 768px) {
  .h-top p {
    padding: 20px 10%;
  }
  .h-block1,
  .h-block2 {
    flex-direction: row; /* Side by side on larger screens */
  }
  .h-block2-left1,
  .h-block2-right1 {
    flex-direction: row;
  }
}
