.h {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.h-title {
  color: #56a635;
}
.h-bg {
  background: url("../../assets/img-home/home-sfondo.png");
  background-size: cover;
  height: 650px; /* Adjust height as needed */
  /* z-index: -1; */
}
.h-top {
  margin-top: 200px;
  color: white;
}
.h-top img {
  width: 300px;
}
.h-top p {
  padding: 20px 25%;
}
.h-block1 p,
.h-block2 p {
  padding: 10px 10%;
}

.h-top-button a {
  justify-content: center;
  text-decoration: none; /* Remove the default underline */
  color: black; /* Set the text color to green */
  padding: 15px 70px;
  border-radius: 30px;
  background-color: #4fde4f; /* Set the initial background to transparent */
  transition: background-color 0.3s, color 0.3s;
}
.h-top-button a:hover {
  background-color: #104924; /* Set the background color to light green on hover */
  color: white;
  border: 1px solid white;
}
.h-block1 {
  display: flex;
  justify-content: space-around; /* Adjusts the spacing between the blocks */
  flex-wrap: wrap; /* Allows blocks to wrap on smaller screens */
}

/* Rest of your CSS */
.h-block1,
.h-block2 {
  display: flex; /* Use flexbox for the inner structure of the blocks */
}

.h-bestSellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #104924;
  color: white;
  padding-top: 20px;
  align-items: center;
}
.h-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates two columns */
  grid-gap: 20px; /* Space between cards */
  padding: 20px;
  color: black;
}
.h-block2 {
  display: flex;
  justify-content: space-around; /* Adjusts the spacing between the blocks */
  flex-wrap: wrap; /* Allows blocks to wrap on smaller screens */
}

/* .h-block2-left1,
.h-block2-right1 {
  flex: 1;
  padding: 20px;
  margin: 20px;
} */

.h-block2-image {
  width: 60%;
  /* align-items: center; */
}

/* Responsive design: Stacks blocks on smaller screens */
@media (max-width: 768px) {
  .h-top p {
    padding: 20px 10%;
  }
  .h-block1,
  .h-block2 {
    flex-direction: row; /* Side by side on larger screens */
  }
  .h-block2-left1,
  .h-block2-right1 {
    flex-direction: row;
  }
}
