.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Distribute space between content and image */
}

.product-image {
  height: 250px; /* Fixed height for consistency */
  object-fit: cover;
  padding: 10px 20px; /* Space above the image */
  margin-bottom: 10px; /* 10px gap from the bottom edge */
}

.product-info {
  padding: 30px;
}

.product-info h2 {
  text-align: left;
  color: var(--light-green);
}

.product-info p {
  margin: 0;
  text-align: left;
}
.product-botanic-name {
  padding: 20px;
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--light-green);
  color: white;
}
@media (max-width: 768px) {
  .product-image {
    height: 150px;
  }
}
