.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo img {
  width: 50px;
  height: 50px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 20px 40px;
  color: white;
}
.link h3 {
  font-weight: normal; /* Normal font weight for non-active links */
  /* other styles */
}

.link h3.active {
  font-weight: bold; /* Bold font weight for active link */
}
.link:hover {
  color: #56a635;
}
.toggleButton {
  display: none;
  position: fixed; /* Fixed position so it's always visible on scroll */
  right: 48px;
  top: 52px;
  z-index: 100; /* Ensure it's above other content */
  background-color: #56a635;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggleButton svg {
  padding-top: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .toggleButton {
    display: flex;
  }

  .navbar#open {
    position: fixed; /* Fix the navbar on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; /* Full screen height */
    background-color: #104924;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1000; /* High z-index to stay on top of other content */
  }
  .navbar#close .links {
    display: none;
  }

  .navbar#open .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar#open .link {
    padding: 15px; /* Larger hit area for touch screens */
  }

  .navbar#open .logo {
    display: none; /* Optionally hide logo when menu is open */
  }
}
