.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1a5d1a;
}
.logo img {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.links {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
